<app-login-navbar></app-login-navbar>

<div class="container">
  <div class="form-container">

    <!-- Form for Product -->
    <div class="form-fields">
      <form [formGroup]="postproduct" (ngSubmit)="handleSubmit()">
        <div class="form-group">
          <input 
            id="product-name" 
            placeholder="PRODUCT NAME" 
            type="text" 
            formControlName="name" 
            required />
          <div *ngIf="postproduct.controls['name'].invalid && postproduct.controls['name'].touched" class="error">
            Product name is required.
          </div>
        </div>
        
        <div class="form-group">
          <input 
            id="price" 
            placeholder="PRICE" 
            type="text" 
            formControlName="price" 
            required 
            pattern="^[0-9]+$" />
          <div *ngIf="postproduct.controls['price'].invalid && postproduct.controls['price'].touched" class="error">
            <small *ngIf="postproduct.controls['price'].errors?.['required']">Price is required.</small>
            <small *ngIf="postproduct.controls['price'].errors?.['pattern']">Price must be a valid number.</small>
          </div>
        </div>
        
        <div class="form-group">
          <textarea 
            id="description" 
            placeholder="Add description" 
            rows="4" 
            formControlName="description" 
            required></textarea>
          <div *ngIf="postproduct.controls['description'].invalid && postproduct.controls['description'].touched" class="error">
            Description is required.
          </div>
        </div>
        
        <div class="form-buttons">
          <button type="submit"  [disabled]="postproduct.invalid">POST PRODUCT</button>
          <button type="button" (click)="reloadPage()">CANCEL</button>
        </div>
      </form>
    </div>
  </div>
</div>
