<app-login-navbar></app-login-navbar>
<div class="container">
    <div class="profile">
        <h2>FARMER DETAILS</h2>
    </div>

    <!-- Farmer Information Form -->
    <div class="form-group">
        <label for="username">Username</label>
        <input placeholder="Enter Username" type="text" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input placeholder="Enter Email" type="email" />
    </div>
    <div class="form-group">
        <label for="phone">Phone No</label>
        <input placeholder="Enter Phone No" type="text" />
    </div>
    <div class="form-group">
        <label for="place">Place</label>
        <input placeholder="Enter Place" type="text" />
    </div>

    <!-- Action Buttons -->
    <div class="buttons">
        <button>Edit Profile</button>
        <button routerLink="/post">Add a Post</button>
        <button routerLink="/farmer-password">Change Password</button>
    </div>

    <!-- Farmer's Posts -->
    <div class="posts">
        <div *ngFor="let post of posts">
            <div class="product">
               <img src="https://www.shutterstock.com/shutterstock/photos/2096659114/display_1500/stock-photo-esg-icon-concept-circulating-in-the-hands-of-young-women-for-environment-society-and-governance-sg-2096659114.jpg" alt="Fresh Organic Tomatoes">
               <h3>{{post.name}}</h3>
               <p>{{post.description}}</p>
               <p class="price">&#8377; {{post.price}}</p>

               <div class="product-buttons">
                <button class="edit-btn">Edit</button>
              
                <button class="delete-btn" (click)="reloadPage()" (click)="deletePost(post.postid)">Delete</button>
            </div>


           </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    &copy; 2024 Farmers Market.
</footer>
